.App{
  border: 1px solid #3d3d3d;
  border-radius: 20px;
  margin: 50px 30px;
  padding: 25px 15px;
  
}

.to-do-container{
  display: flex;
  flex-direction: column;
}

.to-do-container ul li{
  width: 170px;
  overflow-wrap: break-word;
  /* list-style-type: "👍"; */
  list-style-type: none;
  /* cursor: ; */
}

.to-do-container input{
  cursor: pointer;
  margin: 10px;
}
.cbox{
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
}

.done{
  text-decoration: line-through;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash{
  cursor: pointer;
}

.input-items{
  margin:10px 0;
  border-radius: 20px;
  border: none;
  background-color: #f4f6ff;
  padding: 20px;
}

.button-add{
  /* position: absolute; */
  /* top:50%; */
  cursor: pointer;
  padding: 15px ;
  margin: 25px 10px;
  background-color:#05c8f8;
  color: #fff;
  border:none;
  border-radius:20px;
  width: 100px;
  margin-left: 20px;
}